.content-frame form {
    display: flex;
    gap: 8em;
}

.product-detail-thumbnail img {
    width: 100em;
    height: auto;
    border: none;
    border-radius: 10px;
}

.product-detail-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-detail-title-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.product-detail-title p {
    font-size: 6em;
    line-height: 1.3;
}

.product-detail-stars {
    font-size: 5em;
}

.product-detail-cart-container {
    display: flex;
    flex-direction: column;
    gap: 6em;
}

.product-detail-price p {
    color: #F57224;
    font-size: 8.5em;
}

.product-quantity-input {
    display: flex;
    gap: 0.5em;
    font-size: 6em;
    align-items: center;
}

.product-quantity-input label {
    /*font-size: 6em;*/
    color: #808080;
}

.product-quantity-input input {
    padding: 0.3em;
    font-size: 1em;
    width: 3em;
    overflow: auto;
    border: solid 1px #808080;
    border-radius: 5px;
}

.product-detail-quantity {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.content-frame form button {
    background-color: #F57224;
    width: 100%;
    color: white;
    text-align: center;
    padding: 1em 0;
    border: none;
    font-size: 6em;
    border-radius: 5px;
}
