.product-container {
    display: grid;
    justify-content: space-between;
    row-gap: 4em;
    grid-template-columns: repeat(6, 45em);
}

.product-thumbnail img {
    width: 100%;
    height: 45em;
    object-fit: cover;
}

