.user-container {
  width: 1000px;
  margin: 0 auto;
}

.user-title p {
  color: #414141;
  font-size: 6em;
  margin-left: 8rem;
  margin-bottom: 6rem;
}

form, form div {
  display: flex;
  flex-direction: column;
}

form {
  gap: 4.5em;
}

.form-input {
  gap: 2em;
}

.form-input input {
  border-radius: 5px;
  border: 1px solid #B1B1B1;
  color: rgba(177, 177, 177, 1);
  padding: 0.7em;
  color: black;
  font-size: 5em;
}

form label {
  font-size: 4em;
}

.re-enter-confirm-password {
  display: none;
  margin-left: 0.5em;
  color: red;
  font-size: 4em;
}

.content-frame form button {
  border-radius: 7px;
  border: none;
  background: #F57224;
  color: white;
  font-size: 6em;
  padding: 1em 0;
  font-family: 'Roboto', sans-serif;
  margin-top: 1em;
}

.form-checkbox {
  display: flex;
  flex-direction: row;
  gap: 3em;
}

.form-checkbox input {
  width: 1.5em;
  height: 1.5em;
}

.form-checkbox label {
  color: #8F8F8F;
  line-height: 1.5;
}

.form-checkbox a, .other-option a {
  color: #224EB7;
}

.other-option {
  margin-top: 1.5em;
  font-size: 4.5em;
  text-align: center;
}

.other-option p {
  color:#8F8F8F;
}