body {
  height: 100vh;
}

.user-container {
  width: 1000px;
  margin: 0 auto;
}

.user-title p {
  color: #414141;
  font-size: 6em;
  margin-left: 8rem;
  margin-bottom: 6rem;
}

form, form div {
  display: flex;
  flex-direction: column;
}

form {
  gap: 6em;
}

.form-input {
  gap: 2em;
}

.form-input input {
  border-radius: 5px;
  border: 1px solid #B1B1B1;
  color: rgba(177, 177, 177, 1);
  padding: 0.7em;
  color: black;
  font-size: 5em;
}

form label {
  font-size: 4em;
}

.content-frame form button {
  border-radius: 7px;
  border: none;
  background: #F57224;
  color: white;
  font-size: 6em;
  padding: 1em 0;
  font-family: 'Roboto', sans-serif;
  margin-top: 1em;
}